@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;600;700&family=Public+Sans:wght@400;600;700&display=swap');

:root {
    --black-color: #33323d;
    --light-black-color: #33323dcc;
    --gray-color: #33323d2e;
    --white-color: #fafafa;

    --very-small-text: 10px;
    --small-text: 12px;
    --regular-text: 15px;
    --big-text: 40px;

    --small-margin: 28px;
    --medium-margin: 80px;
    --big-margin: 95px;

    --header-font-weight: 700;
    --side-font-weight: 600;
    --regular-font-weight: 400;

    --standard-img-width: 540px;

    --standard-project-height: 350px;

    --main-font: 'Public Sans', sans-serif;
    --side-font: 'Ibarra Real Nova', serif;

    --max-width-wrapper: 1100px;
}

* {
    font-family: var(--main-font);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--black-color);
}

.page-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: var(--max-width-wrapper);
    height: 45px;
    margin: 65px auto;
}

.page-logo {
    font-size: var(--big-text);
    font-weight: var(--header-font-weight);
    color: var(--black-color);
}


.page-navigation {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
}

/* .page-navigation ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 40px;
}

.page-navigation ul li a {
    cursor: pointer;
    font-size: var(--small-text);
    font-weight: var(--side-font-weight);
    color: var(--black-color);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
} */

.dropdown {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--very-small-text);
    font-weight: var(--side-font-weight);
    width: 175px;
    height: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 250ms;
    padding: 5px 15px;
    border: 1px solid var(--black-color);
    text-align: center;
}
.dropdown.type{
    width: 125px;
}


/* .dropdown.expand {
    width: 200px;
} */


.dropdown img {
    width: 9px;
    transition: 250ms;
}
.dropdown.expand img{
    transform: rotate(180deg);
}

.dropdown.expand .dropdown-options {
    display: block;
}

.dropdown-options {
    display: none;
    font-size: var(--small-text);
    position: absolute;
    width: inherit;
    top: 100%;
    left: -1px;
}

.dropdown-options label {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
    height: 50px;
    background-color: var(--white-color);
    border: 1px solid var(--black-color);
    margin-bottom: -1px;
}



/* .dropdown.difficulty {
    width: 75px;
} */

.main-content {
    width: 100%;
    max-width: var(--max-width-wrapper);
    /* background-color: pink; */
    margin: auto;
    padding:  0 15px;
}

.project-container {
    /* height: var(--standard-project-height); */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--medium-margin);
}

.project-container:nth-child(even) {
    flex-direction: row-reverse;

}

.project-img {
    position: relative;
    width: var(--standard-img-width);
    height: var(--standard-project-height);
    box-shadow: 0px 10px 9px -5px #00000035;
    overflow: hidden;
    border-radius: 5px;
}

.project-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 100%;
}

.project-content {
    /* height: var(--standard-project-height); */
    width: 445px;
    padding: 60px 0;
    border-top: 1px solid var(--gray-color);
    border-bottom: 1px solid var(--gray-color);
    margin-left: var(--big-margin);
}

.project-container:nth-child(even) .project-content {
    margin-left: 0;
    margin-right: var(--big-margin);
}

.project-header {
    font-family: var(--side-font);
    font-size: var(--big-text);
    font-weight: var(--header-font-weight);
    margin-bottom: var(--small-margin);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.project-description {
    line-height: 25px;
    font-weight: var(--regular-font-weight);
    font-size: var(--regular-text);
    margin-bottom: var(--small-margin);
    color: var(--light-black-color);
}

.project-tags {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: var(--small-margin);

}

.tag-container {
    padding: 7px 15px;
    border-radius: 25px;
    color: var(--white-color);
    text-shadow: 0px 0px 2px #00000052;
}

.tag-container.newbie {
    background-color: #6abecd;
    box-shadow: 0px 5px 4px -3px #6abecda8;
}

.tag-container.junior {
    background-color: #aad742;
    box-shadow: 0px 5px 4px -3px #aad742a8;
}

.tag-container.intermediate {
    background-color: #f1b604;
    box-shadow: 0px 5px 4px -3px #f1b604a8;
}

.tag-container.advanced {
    background-color: #f48925;
    box-shadow: 0px 5px 4px -3px #f48925a8;
}

.tag-container.html {
    background-color: #FF5733;
    box-shadow: 0px 5px 4px -3px #ff5733a8;
}

.tag-container.css {
    background-color: #264ee4;
    box-shadow: 0px 5px 4px -3px #264ee4a8;
}

.tag-container.js {
    background-color: #F0DB4F;
    box-shadow: 0px 5px 4px -3px #F0DB4Fa8;
}


.project-link-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.project-link {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--small-text);
    font-weight: var(--side-font-weight);
    width: 180px;
    height: 50px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 250ms;
    /* border-radius: 5px; */
}

.project-link.site {
    border: 1px solid var(--light-black-color);
}

.project-link.site:hover {
    background-color: var(--black-color);
    color: var(--white-color);
}

.project-link.challenge {
    border: 0px solid var(--white-color);
}

.project-link.challenge:hover {
    border: 1px solid var(--light-black-color);
}

.project-link.github, .project-link.github img {
    width: 25px;
    height: auto;
    border-bottom: 1px solid transparent;
}

.project-link.github:hover {
    opacity: 0.7;
}

/* .project-link.github:hover {
    border-bottom: 1px solid var(--light-black-color);
} */