@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;600;700&family=Public+Sans:wght@400;600;700&display=swap');

:root {
    --black-color: #33323d;
    --white-color: #fafafa;

    --small-text: 12px;
    --regular-text: 15px;
    --big-text: 40px;

    --small-margin: 28px;
    --medium-margin: 80px;
    --big-margin: 95px;

    --header-font-weight: 700;
    --side-font-weight: 600;
    --regular-font-weight: 400;

    --standard-img-width: 540px;
    --standard-img-height: 500px;

    --main-font: 'Public Sans', sans-serif;
    --side-font: 'Ibarra Real Nova', serif;

    /* 
    font-family: 'Ibarra Real Nova', serif;
    font-family: 'Public Sans', sans-serif; 
    */

    --max-width-wrapper: 1100px;
}

* {
    font-family: var(--main-font);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}