@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

:root {
    --max-width-wrapper: 1440px;

    --light-red: #ff525d;
    --very-light-red: #ff7a85;
    --very-dark-blue: #1f3f5b;

    --white: #ffffff;
    --dirty-white: #fafafa;
    --gray: #ffffffbb;
    --grayish-blue: #c8c8cb;
    --very-dark-grayish-blue: #4b5862;
    --very-dark-black-blue: #25252d;

    --bg-very-light-red: #ff8f70;
    --bg-light-red: #ff3d54;

    --very-dark-gray-blue: #2c2d3f;
    --very-dark-desaturated-blue: #3f4164;

    --small-font-size: 15px;
    --regular-font-size: 16px;
    --medium-font-size: 20px;
    --big-font-size: 28px;
    --bigger-font-size: 41px;
    --biggest-font-size: 61px;

    --primary-font-family: 'Overpass', sans-serif;
    --secondary-font-family: 'Ubuntu', sans-serif;

    /* Overpass Font*/
    --light-font-weight: 300;
    --semibold-font-weight: 600;

    /* Ubuntu Font*/
    --regular-font-weight: 400;
    --medium-font-weight: 500;
    --bold-font-weight: 700;
}

* {
    font-family: var(--primary-font-family);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    width: 100%;
    max-width: var(--max-width-wrapper);
    margin: auto;
}

.page-wrapper {
    overflow: hidden;
}

.page-wrapper {
    background-color: var(--dirty-white);
}

.mobile {
    display: none !important;
}

.page-header {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    padding: 60px 166px;
}

.menu-logo, .close-logo {
    display: none;
}

.header-nav,
.nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.page-logo {
    margin-right: 64px;
}

.nav-container {
    margin-top: 9px;
    width: 310px;
    justify-content: space-between;
}

.dropdown-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    color: var(--gray);
    font-size: var(--regular-font-size);
    font-weight: var(--bold-font-weight);
    font-family: var(--secondary-font-family);
    letter-spacing: 0.3px;
}

.dropdown-label:hover {
    color: var(--white);
    text-decoration: underline;
}

.dropdown-label img {
    width: auto;
    height: 7px;
    margin-left: 5px;
    transition: 150ms;
}

.light-arrow {
    display: block;
}

.dark-arrow {
    display: none;
}

/* dropdown */
.nav-dropdown {
    position: relative;
}

.nav-dropdown.active .dropdown-content {
    display: flex;
}

.nav-dropdown.active .dropdown-label {
    color: var(--white);
    text-decoration: underline;
}

.nav-dropdown.active .dropdown-label img {
    transform: rotate(180deg);
}

.dropdown-content {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 42px;
    left: -25px;
    width: 168px;
    height: fit-content;
    padding: 30px 25px 18px;
    border-radius: 5px;
    background-color: var(--white);
    box-shadow: 0px 4px 26px -11px #2c2d3f;
}

.dropdown-content a {
    cursor: pointer;
    color: var(--very-dark-black-blue);
    font-size: var(--small-font-size);
    font-family: var(--secondary-font-family);
    text-decoration: none;
    margin-bottom: 16px;
}

.dropdown-content a:hover {
    font-weight: var(--bold-font-weight);
}

/* dropdown end */
.credential-button {
    cursor: pointer;
    width: 132px;
    height: 47px;
    border: none;
    border-radius: 25px;
    font-size: var(--regular-font-size);
    font-weight: var(--bold-font-weight);
    font-family: var(--secondary-font-family);
}

.credential-button.login {
    color: var(--gray);
    background-color: transparent;
}

.credential-button.register {
    color: var(--light-red);
    background-color: var(--white);
}

.credential-button.register:hover {
    color: var(--gray);
    background: var(--very-light-red);
}

.section-welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 234px 0 0;
    height: 600px;
    background: url("images/bg-pattern-intro-desktop.svg"), linear-gradient(90deg, var(--bg-very-light-red), var(--bg-light-red));
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 25.5% 52%, center center;
    border-radius: 0 0 0 100px;
}

.welcome-header {
    color: var(--white);
    font-size: var(--biggest-font-size);
    letter-spacing: -1px;
    margin-bottom: 15px;

}

.welcome-paragraph {
    color: var(--gray);
    font-size: var(--medium-font-size);
    margin-bottom: 44px;
}

.welcome-buttons-list {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.welcome-button {
    cursor: pointer;
    width: 139px;
    height: 50px;
    border: none;
    border-radius: 25px;
    font-size: var(--regular-font-size);
    font-weight: var(--bold-font-weight);
    font-family: var(--secondary-font-family);
}

.welcome-button.start {
    color: var(--light-red);
    background-color: var(--white);
}

.welcome-button.start:hover {
    color: var(--gray);
    background: var(--very-light-red);
}

.welcome-button.learn {
    border: 1px solid var(--white);
    color: var(--white);
    background-color: transparent;
}

.welcome-button.learn:hover {
    color: var(--light-red);
    background-color: var(--white);
}

.section-features {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    margin-bottom: 130px;
    width: 100%;
    height: 880px;
}

.features-header {
    color: var(--very-dark-blue);
    font-size: var(--bigger-font-size);
    letter-spacing: -2px;
    margin-bottom: 105px;
}

.features-body {
    position: relative;
    display: flex;
    flex-direction: row;
    color: var(--very-dark-blue);
}

.features-list {
    padding-left: 165px;
}

.feature-container h3 {
    font-size: var(--big-font-size);
    margin-bottom: 24px;
}

.feature-container p {
    font-size: var(--regular-font-size);
    line-height: 29px;
    margin-bottom: 67px;
    width: 97%;
    letter-spacing: 0.5px;
}

.features-image {
    width: 50%;
    height: 31.3em;
}

.image-illustration {
    position: relative;
}

.image-illustration.desktop {
    right: -9.8%;
    top: -48%;
}

.section-banner {
    position: relative;
    height: 400px;
    background: url("images/bg-pattern-circles.svg"),
        linear-gradient(90deg, var(--very-dark-gray-blue), var(--very-dark-desaturated-blue));
    background-size: 70%, auto;
    background-repeat: no-repeat;
    background-position: -50% 85%, center center;
    border-radius: 0 100px;
}

.banner-image {
    position: absolute;
    top: -18%;
    left: 8.8%;
    width: auto;
}

.banner-content {
    width: 50%;
    float: right;
    color: var(--white);
    padding: 117px 16px;
}

.banner-header {
    font-size: 39px;
    letter-spacing: -1px;
    margin-bottom: 20px;
}

.banner-paragraph {
    color: var(--gray);
    width: 80%;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 1px;
}

.features-body.second {
    flex-direction: row-reverse;
}

.laptop-illustration {
    position: relative;
}

.laptop-illustration.desktop {
    left: -38.8%;
    top: -28%;
}

.features-list.second {
    padding-top: 53px;
    padding-left: 15px;
}

.feature-container.second p {
    width: 77%;
}

.page-footer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    height: 341px;
    background-color: var(--very-dark-black-blue);
    border-radius: 0 100px 0 0;
    padding: 50px 90px;
}

.footer-content {
    margin-right: 200px;
}

.footer-content p {
    color: var(--white);
    font-size: var(--regular-font-size);
    font-weight: var(--bold-font-weight);
    margin-bottom: 35px;
}

.footer-link-list {
    list-style: none;
}

.footer-link-list li {
    margin-bottom: 15px;
}

.footer-link-list li a {
    text-decoration: none;
    color: var(--gray);
}

.footer-link-list li:hover {
    text-decoration: underline;
}

.footer-logo {
    margin-right: 200px;
}

@media only screen and (max-width: 860px) {
    .desktop {
        display: none !important;
    }

    .page-header {
        padding: 55px 24px;
    }

    .nav-container {
        display: none;
    }

    .page-logo {
        width: auto;
        height: 33px;
    }

    .section-welcome {
        padding: 200px 0 0;
        background: url(images/bg-pattern-intro-mobile.svg), linear-gradient(150deg, var(--bg-very-light-red), var(--bg-light-red));
        background-repeat: no-repeat;
        background-size: auto;
        background-position: 34.5% 32%, center center;
    }

    .welcome-header {
        width: 300px;
        font-size: 35px;
        text-align: center;
    }

    .welcome-paragraph {
        width: 310px;
        font-size: 18px;
        text-align: center;
    }

    .features-header {
        font-size: var(--big-font-size);
        margin-bottom: 45px;
        letter-spacing: -1px;
    }

    .features-image {
        width: 100%;
        height: auto;
    }

    .image-illustration.desktop {
        display: none;
    }

    .image-illustration.mobile {
        display: block;
    }

    .section-features {
        height: auto;
        margin-bottom: 197px;
    }

    .features-body {
        flex-direction: column-reverse;
    }

    .features-list {
        padding: 0;
        margin-top: 52px;
    }

    .feature-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .feature-container h3 {
        width: 80%;
        text-align: center;
        line-height: 31px;
        margin-bottom: 14px;
    }

    .feature-container p {
        width: 75%;
        text-align: center;
    }

    .section-banner {
        height: 630px;
        background-size: 140%, auto;
        background-repeat: no-repeat;
        background-position: 60% -195%, center center;
    }

    .banner-image {
        top: -30%;
        left: 0;
        width: 100%;
    }

    .banner-image img {
        width: 100%;
        height: auto;
    }

    .banner-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .banner-header {
        text-align: center;
        margin-top: 108px;
    }

    .banner-paragraph {
        width: 95%;
        text-align: center;
    }

    .features-body.second {
        margin-top: 0;
        flex-direction: column-reverse;
    }

    .laptop-illustration.desktop {
        display: none;
    }

    .laptop-illustration.mobile {
        display: block;
    }

    .section-features.second {
        margin-bottom: 30px;
    }

    .features-list.second {
        margin-top: 0;
    }

    .feature-container.second p {
        width: 66%;
    }

    .page-footer {
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        height: auto;
        padding: 75px 90px 50px;
    }

    .footer-logo {
        margin-right: 0;
        margin-bottom: 75px;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-right: 0;
        margin-bottom: 45px;
    }

    .footer-content p {
        margin-bottom: 30px;
    }


    .footer-content p, .footer-link-list li a {
        font-size: 18px;
    }

    .footer-link-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .footer-link-list li {
        margin-bottom: 7px;
    }

    /* dropdown */

    .menu-logo {
        display: block;
        cursor: pointer;
    }

    .close-logo {
        cursor: pointer;
    }

    .page-header.expand .menu-logo {
        display: none;
    }

    .page-header.expand .close-logo {
        display: block;
    }

    .nav-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translateX(-50%);
        width: 87%;
        background-color: var(--white);
        padding: 35px 10px;
    }

    .page-credential-buttons.mobile {
        display: none;
        align-items: center;
        flex-direction: column;
        width: 100%;
        border-top: 1px solid var(--grayish-blue);
    }

    .page-header.expand .header-nav .nav-container,
    .page-header.expand .header-nav .nav-container .page-credential-buttons {
        display: flex !important;
    }

    .dropdown-label {
        justify-content: center;
        color: var(--very-dark-gray-blue);
        font-family: var(--primary-font-family);
        font-size: 18px;
        margin-bottom: 25px;
    }

    .light-arrow {
        display: none;
    }

    .dark-arrow {
        display: block;
    }

    .nav-dropdown {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .nav-dropdown.active .dropdown-label {
        color: var(--very-dark-grayish-blue);
        text-decoration: none;
    }

    .dropdown-content {
        position: relative;
        top: 0;
        left: 0;
        width: 90%;
        background-color: #efeff1;
        box-shadow: none;
        border-radius: 0;
        margin-bottom: 25px;
    }

    .dropdown-content a {
        text-align: center;
        color: var(--very-dark-grayish-blue);
        font-size: var(--regular-font-size);
        font-weight: var(--bold-font-weight);
        font-family: var(--primary-font-family);
    }

    .dropdown-label:hover {
        color: var(--very-dark-grayish-blue);
        text-decoration: none;
    }

    /* dropdown end */

    .credential-button.login {
        color: var(--very-dark-black-blue);
    }

    .credential-button.register {
        color: var(--white);
        background: linear-gradient(90deg, var(--bg-very-light-red), var(--bg-light-red));
    }
}