@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

:root {
    --max-width-wrapper: 1440px;

    --moderate-cyan: #3cb4ac;
    --dark-cyan: #147b74;

    --white: #fff;
    --black: #000;
    --dark-gray: #7a7a7a;

    --small-font-size: 13px;
    --regular-font-size: 16px;

    --regular-font-weight: 400;
    --medium-font-weight: 500;
    --bold-font-weight: 700;
}

* {
    font-family: 'Commissioner', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    position: relative;
    width: 100%;
    max-width: var(--max-width-wrapper);
    margin: auto;
}

.desktop {
    display: block;
}

.mobile, .hamburger-logo, .close-menu-logo {
    display: none;
}

.hamburger-logo, .close-menu-logo {
    cursor: pointer;
}

/* header */

.page-header {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 48px 166px;
    background: linear-gradient(180deg, #00000096 0%, #00000042 50%, transparent 100%);
    z-index: 1;
}

/* nav */

.header-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link {
    cursor: pointer;
    color: var(--white);
    font-size: var(--small-font-size);
    text-decoration: none;
    margin-left: 33px;
}

/* header  end*/

/* main */
.page-wrapper {
    position: relative;
    background-color: #fafafa;
}

.hero-img {
    width: 100%;
}

.page-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 25px;
    top: -92px;
}

.section {
    width: 50.7%;
    box-shadow: 0px 0px 10px -9px var(--dark-gray);
    background-color: var(--white);
    border-radius: 10px;
    padding: 50px 48px;
}

.section p {
    color: #7a7a7ad6;
    font-weight: var(--medium-font-weight);
}

/* content header */
.section-logo {
    position: absolute;
    left: 50%;
    top: -28px;
    transform: translateX(-50%);
}

.brand-header {
    margin: 6px 0 16px;
    font-size: 28px;
    text-align: center;
}

.brand-description {
    text-align: center;
    margin-bottom: 40px;
}

.header-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.button {
    cursor: pointer;
    border: none;
    border-radius: 35px;
}

.backproj {
    display: block;
    width: 201px;
    height: 56px;
    color: #fafafa;
    font-size: var(--regular-font-size);
    font-weight: var(--bold-font-weight);
    background-color: var(--moderate-cyan);
}

.backproj:hover {
    background-color: var(--dark-cyan);
}

.bookmark {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 175px;
    font-size: var(--regular-font-size);
    font-weight: var(--bold-font-weight);
    color: var(--dark-gray);
    background-color: #f4f4f4;
}

.bookmark.marked {
    color: var(--dark-cyan);
}

.bookmark.marked .bookmark-icon {
    filter: invert(35%) sepia(89%) saturate(424%) hue-rotate(127deg) brightness(91%) contrast(87%);
}

.bookmark-icon {
    margin-right: 15px;
}

/* content header end */

/* content detail */

.box-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 39px;
}

.detail-box {
    width: 175px;
}

.detail-box:nth-child(2),
.detail-box:nth-child(3) {
    padding-left: 49px;
}

.center-box {
    border: 1px solid #7a7a7a4a;
    border-top: none;
    border-bottom: none;
    width: 230px;
}

.box-header {
    margin-bottom: 5px;
}

.total-amount::before {
    content: '$';

}

.box-info {
    font-size: 15px;
}

.progress-bar {
    overflow: hidden;
    width: 100%;
    height: 13px;
    background: #f4f4f4;
    border-radius: 35px;
}

.bar {
    width: 89.91%;
    height: 12px;
    background-color: var(--moderate-cyan);
    border-radius: 35px;
    transition: 500ms;
}

/* content detail end*/

/* content body */
.body-header {
    font-size: 20px;
    font-weight: var(--bold-font-weight);
    margin-bottom: 35px;
}

.body-paragraph {
    line-height: 30px;
    margin-bottom: 34px;
}

.card {
    border: 1px solid #7a7a7a47;
    border-radius: 5px;
    margin-bottom: 25px;
    padding: 39px 30px 28px;
}

.card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 21px;
}

.pledge-amount {
    color: var(--moderate-cyan) !important;
    font-size: 15px;
    font-weight: var(--bold-font-weight) !important;
}

.pledge-description {
    line-height: 30px;
    margin-bottom: 25px;
}

.card:nth-child(3) {
    margin: 0;
}

.card-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pledge-quantity {
    display: flex;
    align-items: center;
}

.quantity-amount {
    color: #000;
    font-size: 32px;
    font-weight: 600;
    margin-right: 8px;
}

.pledge-button {
    width: 158px;
    height: 49px;
    font-size: 14px;
    font-weight: var(--medium-font-weight);
    background-color: var(--moderate-cyan);
    color: #fff;
}

.pledge-button:hover {
    background-color: var(--dark-cyan);
}

/* disabled card */

.card.disabled {
    opacity: 0.5;
}

.card.disabled button {
    cursor: no-drop;
    background-color: var(--dark-gray);
}

/* disabled card end */

/* content body end */

/* expand modal */

.page-modal-expanded.expand {
    display: flex;
}

.page-modal-expanded {
    position: absolute;
    display: none;
    align-items: flex-start;
    justify-content: center;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: #00000080;
}

.page-modal-container {
    position: absolute;
    top: 184px;
    width: 50.7%;
    background-color: var(--white);
    border-radius: 10px;
    padding: 50px 48px;
}

.page-modal-container p {
    color: #7a7a7ad6;
    font-weight: var(--medium-font-weight);
}

.modal-header {
    margin-bottom: 21px;
}

.modal-paragraph {
    margin-bottom: 37px;
}

.modal-close-icon {
    cursor: pointer;
    position: absolute;
    top: 32px;
    right: 31px;
}

.card.modal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    padding: 0;
}

.card-modal-items {
    display: flex;
    flex-direction: row;
    padding: 35px 25px 0;
}

.card.modal:nth-child(3) {
    margin-bottom: 25px;
}

.card.modal:nth-child(4) {
    margin: 0;
}

.card-content {
    margin-left: 22px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[name="pledge-radio"] {
    width: 52px;
    height: 24px;
    margin-top: 2px;
    opacity: 0.5;
}

input[name="pledge-radio"]:checked {
    opacity: 1;
}


.pledge-name.modal {
    cursor: pointer;
    font-size: var(--regular-font-size);
    font-weight: var(--bold-font-weight);
}

.pledge-name.modal:hover {
    color: var(--moderate-cyan)
}

.card-header-details {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.pledge-description.modal {
    font-size: 15px !important;
}

.modal-quantity {
    color: #000;
    font-weight: 600;
    font-size: 18px;
    margin-right: 8px;
}

/* selected pledge */

.card.modal.selected {
    border: 2px solid var(--moderate-cyan);
}

.card.modal.selected .card-footer.modal {
    display: flex;
}

.card-footer.modal {
    display: none;
    width: 100%;
    border-top: 1px solid #7a7a7a40;
    padding: 20px 25px;
}

.pledge-input label {
    position: relative;

}

.continue-button {
    width: 108px;
    height: 47px;
    color: var(--white);
    background-color: var(--moderate-cyan);
}

.continue-button:hover {
    background-color: var(--dark-cyan);
}

.selected-pledge-amount {
    border: 1px solid #7a7a7a40;
    width: 100px;
    height: 47px;
    outline: none;
    border-radius: 35px;
    margin-right: 13px;
    text-align: center;
    font-size: 15px;
    font-weight: var(--bold-font-weight);
    padding: 0 25px 0 35px;
}

.selected-pledge-amount:hover,
.selected-pledge-amount:focus {
    border-color: var(--dark-cyan);
}

.dollar-sign {
    position: absolute;
    top: 0px;
    left: 25px;
    font-size: var(--regular-font-size);
    font-weight: var(--bold-font-weight);
    color: #7a7a7a40;
}

/* selected-pledge end */

/* modal success */

.page-modal-expanded.expand.success .page-modal-container {
    display: none;
}

.page-modal-expanded.expand.success .modal-success {
    display: flex;
}

.modal-success {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    top: 460px;
    width: 37.7%;
    height: 450px;
    background-color: var(--white);
    border-radius: 10px;
    padding: 50px;
}

.modal-success img {
    width: 90px;
    height: auto;
    margin-bottom: 46px;
}

.modal-success h2 {
    margin-bottom: 15px;
}

.modal-success p {
    color: var(--dark-gray);
    font-size: var(--regular-font-size);
    font-weight: var(--medium-font-weight);
    text-align: center;
    line-height: 30px;
    margin-bottom: 33px;
}

.success-button {
    width: 106px;
    height: 49px;
    font-size: var(--small-font-size);
    font-weight: var(--medium-font-weight);
    color: var(--white);
    background-color: var(--moderate-cyan);
}

.success-button:hover {
    background-color: var(--dark-cyan);
}

/* modal-success end */

/* expand-modal end */

/* main end */

/* media query */

@media only screen and (max-width:990px) {
    .mobile, .hamburger-logo {
        display: block;
    }

    .desktop {
        display: none;
    }

    .page-content {
        top: -56px;
    }

    .page-header {
        padding: 32px 24px;
    }

    .page-header.active {
        height: 100%;
        align-items: flex-start;
    }

    .page-header.active .hamburger-logo {
        display: none;
    }

    .page-header.active .close-menu-logo {
        display: block;
    }

    .nav-list-container.active {
        display: flex;
    }

    .nav-list-container {
        position: absolute;
        display: none;
        flex-direction: column;
        align-content: flex-start;
        justify-content: center;
        top: 88px;
        left: 50%;
        transform: translateX(-50%);
        width: 87%;
        border-radius: 8px;
        background-color: var(--white);

    }

    .nav-link{
        color: var(--black);
        font-size: 18px;
        font-weight: var(--medium-font-weight);
        margin: 0;
        padding: 25px;
    }

    .nav-link:nth-child(2){
        border: 1px solid #7a7a7a4a;
        border-left: none;
        border-right: none;
    }

    .content-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .brand-header {
        width: 80%;
        font-size: 20px;
        margin: 2px 0 16px;
    }

    .brand-description {
        font-size: 14px;
        line-height: 25px;
        margin-bottom: 22px;
    }

    .backproj {
        width: 214px;
    }

    .bookmark {
        overflow: hidden;
        width: 56px;
        margin-left: 10px;
    }

    .bookmark-icon {
        margin: 0;
    }

    .box-container {
        flex-direction: column;
        text-align: center;
        gap: 25px;
    }

    .detail-box {
        width: 100%;
        padding: 0 !important;
    }

    .box-container {
        margin-bottom: 25px;
    }

    .box-header {
        margin-bottom: 9px;
    }

    .box-info {
        font-size: 14px;
    }

    .center-box {
        width: 33%;
        border: none;
        border-top: 1px solid #7a7a7a4a;
        border-bottom: 1px solid #7a7a7a4a;
        padding: 25px 0 !important;
    }

    .section {
        width: 87%;
        padding: 32px 22px 38px;
        border: 0.5px solid #7a7a7a1f;
        border-radius: 5px;
    }

    .body-header {
        font-size: 18px;
        margin-top: 5px;
        margin-bottom: 23px;
    }

    .body-paragraph {
        font-size: 14px;
        font-weight: var(--medium-font-weight) !important;
        line-height: 24px;
        margin-bottom: 26px;
    }

    .card {
        padding: 18px 20px 28px;
    }

    .card-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .pledge-name {
        font-size: 14px;
        margin-bottom: 7px;
    }

    .pledge-amount {
        font-size: 14px;
    }

    .pledge-description {
        font-size: 14px;
        line-height: 25px;
    }

    .card-footer {
        flex-direction: column;
        align-items: flex-start;
    }

    .pledge-quantity {
        margin-bottom: 25px;
    }

    /* query modal */
    .page-modal-container {
        top: 121px;
        width: 87%;
        padding: 30px 23px;
    }

    .modal-header {
        font-size: 18px;
        margin-bottom: 27px;
    }

    .modal-close-icon {
        top: 36px;
        right: 23px;
    }

    .modal-paragraph {
        font-size: 14px;
        line-height: 23px;
        margin-bottom: 25px;
    }

    .pledge-name.modal {
        font-size: 14px;
    }

    .pledge-description.modal {
        position: relative;
        left: -36px;
        font-size: 13px !important;
        width: 120%;
        font-size: 14px !important;
    }

    input[name="pledge-radio"] {
        width: 102px;
        height: 24px;
        margin-top: 2px;
        opacity: 0.5;
    }

    .card-header-details {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 0px;
    }

    .card-content {
        margin-left: 15px;
    }

    .modal-pledge.mobile {
        position: relative;
        left: -36px;
        margin-bottom: 30px;
    }

    .card-footer.modal {
        align-items: center;
        justify-content: center;
    }

    .card-footer.modal p {
        text-align: center;
        font-size: 14px;
        margin-bottom: 20px;
    }

    /* mobile success */
    .modal-success {
        width: 87%;
        height: auto;
        padding: 32px;
    }

    .modal-success img {
        width: 64px;
        margin-bottom: 23px;
    }

    .modal-success h2 {
        font-size: 18px;
    }

    .modal-success p {
        font-size: 13px;
        line-height: 25px;
        margin-bottom: 32px;
    }

    /* mobile success end */

    /* query model end */
}