@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

:root {
    --max-width-wrapper: 1440px;

    --soft-red: #fe7867;
    --yellow: #fad400;
    --dark-desaturated-cyan: #25564b;
    --dark-blue: #19536b;
    --dark-moderate-cyan: #458c7e;

    --very-dark-desaturated-blue: #23303e;
    --very-dark-grayish-blue: #5a636c;
    --dark-grayish-blue: #818498;
    --grayish-blue: #a7abae;
    --peach-white: #fffbf8;
    --white: #ffffff;

    --primary-font-family: 'Barlow', sans-serif;
    --secondary-font-family: 'Fraunces', serif;

    --smallest-font-size: 14px;
    --smaller-font-size: 15px;
    --small-font-size: 16px;
    --regular-font-size: 18px;
    --medium-font-size: 20px;
    --big-font-size: 28px;
    --bigger-font-size: 41px;
    --biggest-font-size: 55px;

    --regular-font-weight: 600;
    --medium-font-weight: 700;
    --bold-font-weight: 900;

}

* {
    font-family: var(--primary-font-family);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.page-header,
.page-wrapper {
    width: 100%;
    max-width: var(--max-width-wrapper);
    margin: auto;
    overflow: hidden;
}

.page-header {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 34px 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.page-logo {
    width: 170px;
    height: auto;
}

.page-navigation {
    width: 475px;
    margin-right: 8px;
}

.hamburger-menu {
    display: none;
}

.page-navigation ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.page-navigation ul li a {
    font-size: var(--regular-font-size);
    color: var(--white);
    text-decoration: none;
}

.navigation-button {
    cursor: pointer;
    width: 140px;
    height: 55px;
    text-transform: uppercase;
    font-size: var(--smaller-font-size);
    font-family: var(--secondary-font-family);
    font-weight: var(--bold-font-weight);
    color:var(--very-dark-desaturated-blue);
    background-color: var(--white);
    border: none;
    border-radius: 30px;
}

.navigation-button:hover {
    color: var(--white);
    background-color: #6ed0ff;
}

.page-welcome {
    position: relative;
    padding-top: 195px;
    background-color: #3dbeff;
    height: 800px;
    background-image: url(images/desktop/image-header.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

.page-welcome h1 {
    color: var(--white);
    font-size: var(--biggest-font-size);
    font-family: var(--secondary-font-family);
    font-weight: var(--bold-font-weight);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 11px;
}

.arrow-icon {
    position: absolute;
    width: auto;
    height: 115px;
    left: 50%;
    top: 52%;
    transform: translate(-50%, -50%);
}

.page-section {
    display: flex;
    flex-direction: row;
}

.section-divider {
    width: 50%;
    height: 600px;
    background-color: var(--peach-white);
}

.section-banner {
    padding: 158px 50px 0 164px;
}

.banner-header {
    width: 350px;
    font-size: var(--bigger-font-size);
    font-weight: var(--bold-font-weight);
    font-family: var(--secondary-font-family);
    color: var(--very-dark-desaturated-blue);
    margin-bottom: 30px;
}

.banner-paragraph {
    width: 450px;
    font-size: var(--regular-font-size);
    color: var(--dark-grayish-blue);
    line-height: 30px;
    margin-bottom: 40px;
}

.banner-button {
    cursor: pointer;
    width: 130px;
    height: auto;
    font-size: var(--small-font-size);
    font-weight: var(--bold-font-weight);
    font-family: var(--secondary-font-family);
    box-shadow: 0px -7px 0px 0px #fad40054 inset;
    color: var(--very-dark-desaturated-blue);
    background-color: transparent;
    text-transform: uppercase;
    border: none;
}

.banner-button:hover {
    box-shadow: 0px -7px 0px 0px #fad400bf inset;
}

.banner-button.second {
    box-shadow: 0px -7px 0px 0px #fe786742 inset;
}

.banner-button.second:hover {
    box-shadow: 0px -7px 0px 0px #fe7867e6 inset;
}

.banner-img {
    width: 100%;
    height: 100%;
}

.section-features {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}

.section-features.first {
    background-image: url("images/desktop/image-graphic-design.jpg");
}

.section-features.first h3,
.section-features.first p {
    color: var(--dark-desaturated-cyan)
}

.section-features.second {
    background-image: url("images/desktop/image-photography.jpg");
}

.section-features.second h3,
.section-features.second p {
    color: var(--dark-blue)
}

.features-header {
    font-size: var(--big-font-size);
    font-weight: var(--bold-font-weight);
    font-family: var(--secondary-font-family);
    margin-bottom: 28px;
}

.features-paragraph {
    width: 350px;
    text-align: center;
    margin-bottom: 58px;
    line-height: 28px;
}

.section-feedback {
    width: 100%;
    height: 779px;
    background-color: var(--peach-white);
}

.section-feedback h4 {
    color: var(--grayish-blue);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    font-weight: var(--bold-font-weight);
    font-family: var(--secondary-font-family);
    margin: 160px 0 83px;
}

.feedback-profile-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
}

.feedback-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 24.5%;
}

.profile-image {
    width: 72px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 57px;
}

.profile-comment {
    color: var(--very-dark-grayish-blue);
    font-size: var(--regular-font-size);
    text-align: center;
    line-height: 32px;
    margin-bottom: 68px;
}

.profile-name {
    color: var(--very-dark-desaturated-blue);
    font-size: var(--regular-font-size);
    font-weight: var(--bold-font-weight);
    font-family: var(--secondary-font-family);
    margin-bottom: 12px;
}

.profile-status {
    font-size: var(--smallest-font-size);
    color: var(--grayish-blue);
}

.page-illustrations {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.page-illustrations img {
    width: 25%;
    height: auto;
}

.page-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #90d4c5;
}

.page-footer svg {
    transform: scale(1.4);
    margin: 75px 0px 45px;
}

.page-list {
    margin-bottom: 90px;
}

.page-list ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 57px;
}

.page-list ul li a {
    color: var(--dark-moderate-cyan);
    font-size: var(--regular-font-size);
    text-decoration: none;
}

.page-list ul li a:hover {
    color: var(--white);
}

.social-media-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 71px;
}

.social-link:hover {
    filter: brightness(10);
}

@media only screen and (max-width: 1260px) {
    .section-banner {
        padding-left: 75px;
    }

    .banner-img {
        width: auto;
    }

    .banner-paragraph {
        width: 90%;
    }
}

@media only screen and (max-width: 830px) {
    .section-banner {
        padding-top: 75px;
    }

    .banner-header {
        width: 300px;
    }
}

@media only screen and (max-width: 690px) {
    .page-header {
        padding: 32px 23px;
        overflow: visible;
    }

    .page-navigation {
        position: relative;
    }

    .hamburger-menu {
        cursor: pointer;
        display: block;
        float: right;
        margin-right: -7px;
    }

    .page-navigation.active .hamburger-menu {
        filter: opacity(0.5);
    }

    .page-navigation ul {
        display: none;
    }

    .page-navigation.active ul {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 33px;
        position: absolute;
        top: 71px;
        left: 50%;
        transform: translateX(-68%);
        width: 88vw;
        height: 305px;
        background-color: var(--peach-white);
    }

    .page-navigation ul::after {
        position: absolute;
        top: -25px;
        right: 0;
        width: 0;
        height: 0;
        background-color: transparent;
        z-index: 2;
        content: '';
        transform: rotate(180deg);
        border-top: 25px solid transparent;
        border-bottom: 25px solid transparent;
        border-left: 25px solid var(--peach-white);
    }

    .page-navigation ul li a {
        color: var(--dark-grayish-blue);
        font-size: var(--medium-font-size);
    }

    .navigation-button {
        background-color: var(--yellow);
    }

    .page-welcome {
        padding-top: 140px;
        height: 538px;
        background-image: url("images/mobile/image-header.jpg");
    }

    .page-welcome h1 {
        font-size: var(--bigger-font-size);
        letter-spacing: 6px;
    }

    .arrow-icon {
        top: 64.6%;
    }

    .page-section {
        flex-direction: column;
    }

    .page-section.first {
        flex-direction: column-reverse;
    }

    .section-divider {
        width: 100%;
        height: auto;
    }

    .section-banner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 62px 36px;
    }

    .banner-img {
        width: 100%;
        height: auto;
    }

    .banner-header {
        font-size: 32px;
        text-align: center;
        margin-bottom: 23px;
    }

    .banner-paragraph {
        width: 320px;
        text-align: center;
        margin-bottom: 35px;
    }

    .section-features {
        padding: 393px 0 0;
        background-size: cover;
    }

    .section-features.first {
        background-image: url("images/mobile/image-graphic-design.jpg");
    }

    .section-features.second {
        background-image: url("images/mobile/image-photography.jpg");
    }

    .section-feedback {
        margin: 63px 0 83px;
        height: auto;
    }

    .section-feedback h4 {
        font-size: 15px;
        margin-bottom: 66px;
    }

    .feedback-profile-list {
        flex-direction: column;
        gap: 68px;
    }

    .feedback-profile {
        width: 85%;
    }

    .profile-image {
        margin-bottom: 32px;

    }

    .profile-comment {
        margin-bottom: 32px;
    }

    .page-illustrations {
        flex-wrap: wrap;
    }

    .page-illustrations img {
        width: 50%;
    }

}