@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

:root {
    --max-width-wrapper: 1440px;

    --soft-cyan: #a5f3eb;
    --strong-cyan: #10d5c2;
    --light-grayish-red: #feece7;
    --light-red: #ff8c66;
    --pale-blue: #bdccff;

    --white: #ffffff;
    --very-pale-blue: #fafbff;
    --light-grayish-blue: #eaeefb;
    --lighter-grayish-blue: #cdd7ee;
    --grayish-blue: #858fad;
    --dark-desaturated-blue: #293356;

    --regular-font-size: 15px;

    --regular-font-weight: 600;
    --bold-font-weight: 800;
}

* {
    font-family: 'Manrope', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--very-pale-blue);
}

.page-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: var(--max-width-wrapper);
    background-image: url('images/bg-pattern.svg');
    background-repeat: no-repeat;
    margin: auto;
}

.page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-image: url('images/pattern-circles.svg');
    background-repeat: no-repeat;
    background-position: 50% 11%;
    width: 50%;
    padding: 103.5px 25px;
}

.content-header h1 {
    color: var(--dark-desaturated-blue);
    font-size: 28px;
    text-align: center;
    text-shadow: 0px 0px 0px var(--dark-desaturated-blue);
    margin-bottom: 11px;
}

.content-header p {
    color: var(--grayish-blue);
    font-size: var(--regular-font-size);
    text-align: center;
    margin-bottom: 92px;
}

.content-box {
    width: 81%;
    height: auto;
    background-color: var(--white);
    box-shadow: 0px 5px 9px -3px #2933564f;
    border-radius: 10px;
}

.content-body {
    padding: 40px 47px;
    border-bottom: 1px solid var(--light-grayish-blue);
}

.body-pricing {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 31px;
}

.pricing-views {
    color: var(--grayish-blue);
    font-size: 13px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-shadow: 0px 0px 0px var(--grayish-blue);
}

.pricing-views::after {
    content: 'K Pageviews';
}

.pricing-total {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--dark-desaturated-blue);
    font-size: 40px;
    font-weight: var(--bold-font-weight);
    text-shadow: 0px 0px 0px var(--dark-desaturated-blue);
}

.pricing-total::before {
    content: '$';
}

.pricing-total::after {
    content: ' / month';
    color: var(--grayish-blue);
    font-size: 16px;
    font-weight: var(--regular-font-weight);
    text-shadow: none;
    margin: 2px 3px 0 3px;
}

.slider-container {
    margin-bottom: 48px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 35px;
    background-color: var(--light-grayish-blue);
}

.slider::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    color: var(--soft-cyan);
    height: 8px;
    background: linear-gradient(to right, var(--soft-cyan), var(--soft-cyan)), transparent;
    background-size: var(--background-size, 0%) 100%;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.slider::-webkit-slider-thumb {
    cursor: grab;
    position: relative;
    top: -15px;
    -webkit-appearance: none;
    width: 40px;
    height: 40px;
    background: url('images/icon-slider.svg');
    background-size: 22px;
    background-repeat: no-repeat;
    background-position: 50%, 50%;
    background-color: var(--strong-cyan);
    box-shadow: 0px 10px 15px 1px #10d5c175;
    border-radius: 50%;
}

.slider::-webkit-slider-thumb:active {
    cursor: grabbing;
    background-color: #0caa9b !important;
    box-shadow: 0px 10px 15px 1px #0caa9a75;
}

.billing-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
}

.billing-name {
    color: var(--grayish-blue);
    font-size: 12px;
    text-align: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin: 0 15px;
}

.switch-check {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch-slider {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--lighter-grayish-blue);
    transition: 400ms;
    border-radius: 35px;
}

.switch-slider::before {
    content: '';
    position: absolute;
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: var(--white);
    transition: 400ms;
    border-radius: 50%;
}

.switch-check:checked+.switch-slider {
    background-color: var(--strong-cyan);
}

.switch-check:focus+.switch-slider {
    box-shadow: 0 0 1px var(--strong-cyan);
}

.switch-check:checked+.switch-slider:before {
    transform: translateX(20px);
}

.discount {
    color: var(--light-red);
    padding: 2px 5px;
    font-size: 10px;
    border-radius: 35px;
    background-color: #ff8c6630;
    margin-left: 10px;
    text-align: center;
}

.discount::after {
    content: ' discount';
}

.content-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 17px;
    padding: 33px 50px 22px;
}

.footer-offers {
    font-size: 12px;
    margin-left: 14px;
    list-style-image: url('images/icon-check.svg');
}

.footer-offers li {
    color: var(--grayish-blue);
    padding-left: 7px;
    margin-bottom: 10px;
}

.footer-button {
    cursor: pointer;
    width: 166px;
    height: 40px;
    color: var(--lighter-grayish-blue);
    background-color: var(--dark-desaturated-blue);
    margin-bottom: 8px;
    font-size: 12px;
    border: none;
    border-radius: 35px;
}

.footer-button:hover {
    color: var(--light-grayish-blue);
}

@media only screen and (max-width: 1000px) {
    .page-content {
        width: 100%;
        padding: 89px 25px;
        background-position: 50% 7.8%;
    }

    .content-box {
        width: 100%;
    }

    .content-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .content-header h1 {
        font-size: 20px;
        margin-bottom: 7px;
    }

    .content-header p {
        width: 55%;
        font-size: 13px;
        line-height: 23px;
        margin-bottom: 65px;
    }

    .content-body {
        padding: 34px 24px;
    }

    .body-pricing {
        flex-direction: column;
    }

    .pricing-views {
        font-size: 12px;
        letter-spacing: 2px;
    }

    .pricing-total {
        position: relative;
        bottom: -89px;
        font-size: 31px;
    }

    .pricing-total::after {
        margin: 2px 3px 0 9px;
        font-size: 14px;
    }

    .slider-container {
        position: relative;
        top: -42px;
    }

    .billing-container {
        padding: 0;
        margin-top: 63px;
        justify-content: center;
    }

    .discount {
        width: 40px;
    }

    .discount::after {
        content: '';
    }

    .content-footer {
        flex-direction: column;
    }

    .footer-offers {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}