@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root {
    --max-width-wrapper: 1440px;

    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);
    --white: #fff;

    --regular-font-size: 13px;

    --regular-font-weight: 500;
    --medium-font-weight: 700;

    --margin-separator: 15px;
}

* {
    font-family: 'Manrope', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--light-grayish-blue);
}

.page-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: var(--max-width-wrapper);
    height: 100vh;
    margin: auto;
}

.component-container {
    width: 725px;
    height: 280px;
    border-radius: 10px;
    background-color: var(--white);
    box-shadow: 0px 13px 56px -30px hsl(212deg 23% 69%);
}

.component-content {
    display: flex;
    flex-direction: row;
}

.component-image {
    width: 300px;
    height: 280px;
    overflow: hidden;
}

.component-image img {
    width: 350px;
    height: auto;
    filter: brightness(1.05);
    border-radius: 10px;
}

.component-body {
    width: 65%;
    padding: 35px 40px;

}

.component-header {
    font-size: calc(var(--regular-font-size) + 8px);
    color: var(--very-dark-grayish-blue);
    font-weight: var(--medium-font-weight);
    margin-bottom: var(--margin-separator);
}

.component-paragraph {
    font-size: var(--regular-font-size);
    color: var(--desaturated-dark-blue);
    margin-bottom: var(--margin-separator);
}

.profile-container, .profile {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-container {
    position: relative;
    justify-content: space-between;
    height: 50px;
}

.profile-image {
    width: auto;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.profile-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2px;
}

.profile-name {
    color: var(--very-dark-grayish-blue);
}

.profile-date {
    color: var(--grayish-blue);
    font-size: var(--regular-font-size);
}

.share-icon {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    color: var(--very-dark-grayish-blue);
    background: var(--light-grayish-blue);
    border-radius: 50%;
}

.share-icon.active {
    background: var(--very-dark-grayish-blue);
}

.share-icon.active svg path {
    fill: var(--light-grayish-blue);
}

.share-icon:hover {
    background: var(--very-dark-grayish-blue);
}

.share-icon:hover svg path {
    fill: var(--light-grayish-blue);
}

.share-option {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: var(--very-dark-grayish-blue);
    width: 250px;
    height: 55px;
    right: -108px;
    top: -50px;
    border-radius: 10px;
    z-index: 1;
    transition: 150ms;
    /* transform: translate(0%, 0%) scaleY(1); */
    transform: translate(0%, 65%) scale(0);
}

.share-option.active {
    top: -80px;
    transform: translate(0%, 0%) scale(1);
}

.share-option::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: var(--very-dark-grayish-blue);
    bottom: -5px;
    right: 40%;
    transform: rotate(45deg);
    z-index: -1;

}

.share-option span {
    font-size: var(--regular-font-size);
    color: var(--grayish-blue);
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-right: 20px;
}

.icon-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90px;
}

.icon-list a {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .page-wrapper {
        align-items: flex-start;
        height: auto;
    }

    .component-container {
        overflow: hidden;
        width: 325px;
        height: auto;
        margin: 75px 0;
    }

    .component-content {
        flex-direction: column;
    }

    .component-image {
        width: 100%;
        height: 210px;
    }

    .component-image img {
        width: 100%;
        height: auto;
    }

    .component-body {
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .component-header {
        font-size: calc(var(--regular-font-size) + 3px);
        width: 251px;
        margin-top: 35px;
    }

    .component-paragraph {
        line-height: 20px;
        width: 258px;
    }

    .profile-container {
        height: 75px;
        width: 100%;
        padding: 15px 30px;
    }

    .profile-container.active {
        height: 75px;
        width: 100%;
        padding: 15px 30px;
    }

    .share-option {
        width: inherit;
        height: inherit;
        right: 0;
        justify-content: flex-start;
        transform: translate(0%, 0%) scaleY(0);
        border-radius: 0 0 10px 10px;
        top: 75px;
        padding-left: 30px;
    }

    .share-option.active {
        right: 0;
        transform: translate(0%, 0%) scaleY(1);
        top: 0;
    }

    .share-option::after {
        transform: scale(0);
    }

    .share-icon {
        z-index: 2;
    }

    .share-icon.active {
        background-color: var(--desaturated-dark-blue);
    }

}