@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

:root {
    --max-width-wrapper: 1440px;

    --violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);
    --white: #fff;

    --regular-font-weight: 400;
    --bold-font-weight: 600;

    --small-font-size: 12px;
    --regular-font-size: 18px;
    --big-font-size: 40px;

    --poppins-font-family: 'Poppins', sans-serif;
    --opensans-font-family: 'Open Sans', sans-serif;
}

* {
    font-family: var(--poppins-font-family);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--violet) url("images/bg-desktop.svg") no-repeat;
    background-size: cover;
    background-blend-mode: unset;
}

.page-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    max-width: var(--max-width-wrapper);
    height: auto;
    margin: auto;
}

.page-container {
    width: 1300px;
    height: 100%;
    padding: 55px 0 40px 0;
}

.page-logo {
    width: auto;
    height: 52px;
    margin-bottom: 70px;
}

.page-content {
    display: flex;
    flex-direction: row;
}

.page-illustration {
    width: 55%;
}

.page-illustration img {
    width: auto;
    height: 505px;
}

.page-banner {
    width: 45%;
    padding: 50px 25px 0 50px;
    color: var(--white);
}

.page-banner h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.page-banner p {
    font-family: var(--opensans-font-family);
    font-size: var(--regular-font-size);
    color: #ffffffab;
    line-height: 27px;
    margin-bottom: 22px;
}

.banner-button {
    cursor: pointer;
    font-size: var(--regular-font-size);
    color: var(--violet);
    width: 200px;
    height: 55px;
    border: none;
    border-radius: 35px;
    box-shadow: 0px 8px 21px -11px hsl(257deg 100% 10%);
}

.banner-button:hover {
    color: var(--white);
    background-color: var(--soft-magenta);
}

.social-media {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 15px;
    float: right;
    width: 200px;
    height: 60px;
}

.social-media a {
    border: 1px solid var(--white);
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.social-media a svg {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 20px;
}

.social-media a svg path {
    fill: var(--white);
}

.social-media a:hover {
    border-color: var(--soft-magenta);
}

.social-media a:hover path {
    fill: var(--soft-magenta);
}

@media only screen and (max-width: 1205px) {
    body {
        background: var(--violet) url('images/bg-mobile.svg') no-repeat;
        background-size: cover;
        background-blend-mode: unset;
    }

    .page-wrapper {
        max-height: 1250px;
    }

    .page-container {
        width: 85%;
        padding: 31px 7px;
    }

    .page-logo {
        height: 32px;
        margin-bottom: 55px;
    }

    .page-content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .page-illustration {
        margin-bottom: 60px;
    }

    .page-illustration img {
        height: 215px;
    }

    .page-illustration,
    .page-banner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0;
    }

    .page-banner h1 {
        font-size: 24px;
        text-align: center;
        margin-bottom: 15px;
    }


    .page-banner p {
        font-size: calc(var(--regular-font-size) - 2px);
        text-align: center;
        line-height: 24px;
    }

    .banner-button {
        width: 205px;
        height: 40px;
        font-size: var(--small-font-size);
        margin-bottom: 40px;
    }

    .social-media {
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .social-media a {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .social-media a svg {
        width: auto;
        height: 13px;
        top: 0;
        left: 0;
        transform: none;
    }

}