@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);

    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);

    --regular-text-size: 15px;

    /* 400 */
    --regular-text-font: 'Lexend Deca', sans-serif;
    /* 700 */
    --special-text-font: 'Big Shoulders Display', cursive;

    --normal-font-weight: 400;
    --medium-font-weight: 700;

    --max-width-wrapper: 1440px;
}

* {
    font-family: var(--regular-text-font);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.page-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: var(--max-width-wrapper);
    height: 100vh;
    max-height: 840px;
    margin: auto;
    background-color: var(--very-light-gray);
}

.card-container {
    display: flex;
    flex-direction: row;
    width: 900px;
    background-color: pink;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.card {
    width: 300px;
    height: 100%;
    padding: 50px;
}

.card-logo {
    width: 64px;
    height: 40px;
    margin-bottom: 35px;
}

.card-body {
    margin-bottom: 75px;
    width: 210px;
}

.card-header {
    font-family: var(--special-text-font);
    font-weight: var(--medium-font-weight);
    text-transform: uppercase;
    font-size: 40px;
    color: var(--very-light-gray);
    margin-bottom: 25px;
}

.card-paragraph {
    color: var(--transparent-white);
    font-size: var(--regular-text-size);
    font-weight: var(--normal-font-weight);
    line-height: 25px;
}

.card-button {
    cursor: pointer;
    font-size: var(--regular-text-size);
    font-weight: var(--normal-font-weight);
    width: 145px;
    height: 50px;
    border-radius: 50px;
    border: none;
}

.card-button:hover{
    color: var(--very-light-gray) !important;
    background-color: transparent;
    border: 1px solid var(--very-light-gray);
}

.card-button.first {
    color: var(--bright-orange);
}

.card-button.second {
    color: var(--dark-cyan);
}

.card-button.third {
    color: var(--very-dark-cyan);
}

.card.first {
    background-color: var(--bright-orange);
}

.card.second {
    background-color: var(--dark-cyan);
}

.card.third {
    background-color: var(--very-dark-cyan);
}

@media only screen and (max-width: 375px){
    .page-wrapper{
        align-items: flex-start;
        height: 1500px;
        max-height: none;
    }
    
    .card-container{
        flex-direction: column;
        height: auto;
        width: 325px;
        margin-top: 85px;
    
    }

    .card{
        width: 325px;
        height: 443px;
    }

    .card-body{
        margin-bottom: 20px;
        width: 225px;
    }

}