@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root {
    --max-width-wrapper: 1440px;

    --desaturated-red: hsl(0, 36%, 70%);
    --soft-red: hsl(0, 93%, 68%);

    --dark-grayish-red: hsl(0, 6%, 24%);

    --light-gradient: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    --dark-gradient: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));

    --regular-font-size: 16px;

    --light-font-weight: 300;
    --regular-font-weight: 400;
    --bold-font-weight: 600;


}

* {
    font-family: 'Josefin Sans', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: var(--light-gradient);
}

.page-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: var(--max-width-wrapper);
    height: 810px;
    margin: auto;
    /* background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%)); */
}

.section-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.section-img {
    width: 50%;
    height: 100%;
}

.section-img img {
    width: auto;
    height: 100%;
}

.section-img .mobile {
    display: none;
}


.section-content {
    padding: 70px 160px;
    background-image: url("images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.section-banner {
    margin: 130px 0 50px;
}

.section-banner h1 {
    color: var(--desaturated-red);
    font-size: 65px;
    font-weight: var(--light-font-weight);
    text-transform: uppercase;
    letter-spacing: 15px;
    margin-bottom: 20px;
}

.section-banner h1 span {
    color: var(--dark-grayish-red);
    font-weight: var(--bold-font-weight);
}

.section-banner p {
    color: var(--desaturated-red);
    font-size: var(--regular-font-size);
    font-weight: var(--regular-font-weight);
    width: 430px;
    line-height: 30px
}

.section-input-container {
    position: relative;
    width: 440px;
    height: 55px;
    background-color: white;
}

.section-email-input {
    font-size: var(--regular-font-size);
    padding: 5px 140px 5px 30px;
    width: inherit;
    height: inherit;
    color: var(--desaturated-red);
    background-color: transparent;
    border-radius: 50px;
    transition: 150ms;
    border: 3px solid var(--desaturated-red);
    outline: none;
}

.section-email-input:focus {
    border: 3px solid hsl(0, 93%, 88%);
}

.section-input-container.success .section-email-input {
    border-color: var(--desaturated-red);
}

.section-input-container.error .section-email-input {
    border-color: var(--soft-red);
}

.section-email-input::placeholder {
    color: hsla(0, 36%, 70%, 0.561);
}

.section-button {
    cursor: pointer;
    position: absolute;
    background: var(--dark-gradient);
    width: 100px;
    height: 55px;
    border-radius: 50px;
    right: 0px;
    border: none;
    box-shadow: 0px 6px 17px -8px var(--soft-red);
}

.section-input-container.error .section-button {
    background: hsl(0, 93%, 88%);
    box-shadow: 0px 3px 38px -9px rgb(254, 81, 81);
}

.error-icon {
    position: absolute;
    transition: 150ms;
    top: 15px;
    right: 100px;
    z-index: -1;

}

.section-input-container.error .error-icon {
    right: 110px;
    z-index: 1;
}

.reminder {
    position: absolute;
    transition: 150ms;
    left: 30px;
    bottom: 0px;
    z-index: -1;
}

.section-input-container.error .reminder.error {
    color: var(--soft-red);
    bottom: -25px;
    z-index: 1;
}

.section-input-container.success .reminder.success {
    color: var(--desaturated-red);
    bottom: -25px;
    z-index: 1;
}

@media only screen and (max-width:425px) {
    .page-wrapper {
        align-items: flex-start;
    }

    .section-container {
        flex-direction: column-reverse;
        margin-top: 80px;
        height: auto;
    }

    .section-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0;
    }

    .logo {
        position: absolute;
        top: 30px;
        left: 30px;
    }

    .logo img {
        width: 100px;
    }

    .section-img {
        width: 100%;
        height: 250px;
        margin-bottom: 60px;
    }

    .section-img .mobile {
        display: block;
        width: 100%;
        height: auto;
    }

    .section-img .desktop {
        display: none;
    }

    .section-input-container {
        width: 370px;
    }

    .section-banner {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0 0 40px 0;
    }

    .section-banner h1 {
        font-size: 40px;
        text-align: center;
        letter-spacing: 10px;
    }

    .section-banner p {
        font-size: calc(var(--regular-font-size) - 2px);
        text-align: center;
        width: 300px;
        line-height: 20px;
    }

    .section-input-container {
        width: 325px;
        height: 50px;
    }

    .error-icon{
        right: 60px;
    }

    .section-input-container.error .error-icon{ 
        right: 70px;
    }

    .section-email-input {
        font-size: calc(var(--regular-font-size) - 2px);
        border-width: 1px;
        padding-right: 80px;
    }
    .section-email-input:focus {
        border: 1px solid hsl(0, 93%, 88%);
    }

    .section-button {
        width: 65px;
        height: 50px;
    }
}