@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

:root {
    --max-width-wrapper: 1440px;

    --blue: hsl(223, 87%, 63%);
    --pale-blue: hsl(223, 100%, 88%);
    --light-red: hsl(354, 100%, 66%);
    --gray: hsl(0, 0%, 59%);
    --very-dark-blue: hsl(209, 33%, 12%);

    --regular-font-size: 20px;

    --regular-font-weight: 300;
    --medium-font-weight: 600;
    --bold-font-weight: 700;

}

* {
    font-family: 'Libre Franklin', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}