@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

:root {
    --max-width-wrapper: 1440px;

    --blue: hsl(223, 87%, 63%);
    --pale-blue: hsl(223, 100%, 88%);
    --light-red: hsl(354, 100%, 66%);
    --gray: hsl(0, 0%, 59%);
    --very-dark-blue: hsl(209, 33%, 12%);
    --white: #fff;

    --small-font-size: 12px;
    --regular-font-size: 16px;
    --medium-font-size: 20px;

    --regular-font-weight: 300;
    --medium-font-weight: 600;
    --bold-font-weight: 700;

}

* {
    font-family: 'Libre Franklin', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.page-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    max-width: var(--max-width-wrapper);
    height: auto;
    max-height: 1360px;
    margin: auto;
}

.page-container {
    width: 960px;
    height: 100%;
}

.page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 85px 100px 50px;

}

.page-logo {
    margin-bottom: 50px;
}

.main-header {
    font-size: 48px;
    font-weight: var(--regular-font-weight);
    color: var(--gray);
    margin-bottom: 15px;
}

.main-header span {
    color: var(--very-dark-blue);
    font-weight: var(--bold-font-weight);
}

.side-header {
    font-size: var(--medium-font-size);
    font-weight: var(--regular-font-weight);
    margin-bottom: 40px;
}

.page-input {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 75px;
    gap: 15px;
    margin-bottom: 70px;
}

.input-reminder {
    position: absolute;
    left: 90px;
    bottom: 0;
    transform: scaleY(0);
    font-size: var(--small-font-size);
    color: var(--light-red);
    transition: 150ms;
    z-index: -1;
    font-style: italic;
}

.input-reminder.success {
    color: var(--blue);
}

.page-input.success .input-reminder.success,
.page-input.active .input-reminder.error {
    bottom: -5px;
    transform: scaleY(1);
    z-index: 1;
}

.email-input {
    width: 425px;
    height: 55px;
    padding: 10px 30px;
    border: 1px solid var(--pale-blue);
    border-radius: 30px;
    font-size: var(--regular-font-size);
}

.page-input.active .email-input {
    border-color: var(--light-red);
}

.email-input::placeholder {
    color: hsla(224, 33%, 80%, 0.70);
}

.notify-button {
    cursor: pointer;
    width: 200px;
    height: 55px;
    border: none;
    border-radius: 30px;
    color: var(--white);
    background-color: var(--blue);
    font-size: var(--regular-font-size);
    font-weight: var(--medium-font-weight);
    box-shadow: 0px 5px 30px -6px hsl(223deg 100% 80%)
}

.page-input.active .notify-button,
.notify-button:hover {
    background-color: hsl(223, 79%, 69%);
}

.page-illustration {
    width: 640px;
    height: auto;
    margin-bottom: 70px;
}

.page-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.social-media {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 135px;
    height: 50px;
    margin-bottom: 15px;
}

.social-media a {
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid hsla(224, 33%, 80%, 0.70);
    border-radius: 50%;
}

.social-media a:hover {
    background-color: var(--blue);
}

.social-media a:hover path {
    fill: var(--white);
}

.social-media a svg {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
}

.social-media a svg path {
    fill: var(--blue);
}

.page-footer p {
    font-size: var(--small-font-size);
    color: var(--gray);
}

@media only screen and (max-width: 900px) {
    .page-container {
        width: 75%;
    }

    .page-content {
        padding: 85px 0 40px;
    }

    .page-logo {
        width: auto;
        height: 16px;
        margin-bottom: 40px;
    }

    .main-header {
        text-align: center;
        font-size: calc(var(--medium-font-size) + 2px);
        margin-bottom: 17px;
    }

    .side-header {
        font-size: var(--small-font-size);
        margin-bottom: 32px;
    }

    .page-input {
        flex-direction: column;
        height: auto;
        gap: 10px;
    }

    .input-reminder {
        left: 50%;
        bottom: 63px;
        transform: translateX(-50%) scaleY(0);
        font-size: calc(var(--small-font-size) - 2px);
        white-space: nowrap;
    }

    .page-input.active .input-reminder.error,
    .page-input.success .input-reminder.success {
        left: 50%;
        bottom: 63px;
        transform: translateX(-50%) scaleY(1);
    }

    .page-input.active .email-input,
    .page-input.success .email-input {
        margin-bottom: 31px;
    }

    .email-input, .notify-button {
        width: 100%;
        height: 40px;
        font-size: var(--small-font-size);
        transition: 150ms;
    }

    .page-illustration {
        width: 115%;
        margin-bottom: 100px;
    }

    .page-footer p{
        font-size: calc(var(--small-font-size) - 2px);
    }
}