@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

:root {
    --max-width-wrapper: 1440px;

    --dark-blue: hsl(240, 38%, 20%);
    --grayish-blue: hsl(240, 18%, 77%);

    --regular-font-size: 32px;

    --light-font-weight: 300;
    --medium-font-weight: 500;
    --bold-font-weight: 700;
}

* {
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}