@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

:root {
    --max-width-wrapper: 1440px;

    --dark-blue: #202046;
    --grayish-blue: #babacf;

    --regular-font-size: 32px;

    --light-font-weight: 300;
    --medium-font-weight: 500;
    --bold-font-weight: 700;
}

* {
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.page-wrapper {
    width: 100%;
    height: 100vh;
    max-width: var(--max-width-wrapper);
    margin: auto;
    background-image: url('images/pattern-curve.svg');
    background-repeat: no-repeat;
    background-position: bottom left;
}

.content-banner div,
.slider-image img {
    display: none;
}

.content-banner div.active,
.slider-image img.active {
    display: block !important;
}


.page-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 116px 7px 140px;
    background-image: url('images/pattern-bg.svg');
    background-repeat: no-repeat;
    background-position: 90% 50%;
}


.content-banner {
    position: relative;
    width: 40%;
    z-index: 1;
    background-image: url('images/pattern-quotes.svg');
    background-repeat: no-repeat;
    background-position: 21% 0;
}

.person-quote {
    color: var(--dark-blue);
    font-size: var(--regular-font-size);
    font-weight: var(--light-font-weight);
    text-shadow: 0 0px var(--dark-blue);
    width: 111%;
    line-height: 44px;
    margin-top: 69px;
    margin-bottom: 38px;
}

.person-name {
    display: inline;
    color: var(--dark-blue);
    font-size: 20px;
    font-weight: var(--bold-font-weight);
    text-shadow: 0 0px var(--dark-blue);
    margin-right: 5px;
}

.person-occupation {
    display: inline;
    color: #bfbcd0;
    font-size: 20px;
    font-weight: var(--medium-font-weight);
}

.slider-container {
    position: relative;
}

.slider-image {
    position: relative;
    overflow: hidden;
    width: 540px;
    height: 540px;
    box-shadow: 0px 5px 16px -10px #202046;
}

.slider-image img {
    width: 100%;
    height: 100%;
}

.slider-buttons {
    position: absolute;
    left: 60px;
    bottom: -29px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    box-shadow: 0px 10px 35px -11px #20204680;
    border-radius: 35px;
}

.arrow {
    cursor: pointer;
    width: 55px;
    height: 55px;
    border: none;
    background-color: #fff;
    z-index: 1;
}

.arrow:hover {
    filter: brightness(1.2);
}

.arrow.prev {
    background-image: url('images/icon-prev.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    border-radius: 35px 0 0 35px;
}

.arrow.next {
    background-image: url('images/icon-next.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    border-radius: 0 35px 35px 0;
}

@media only screen and (max-width: 900px) {
    .page-wrapper {
        height: auto;
    }

    .page-content {
        flex-direction: column-reverse;
        justify-content: flex-start;
        height: auto;
        padding: 54px 7px 80px;
        background-size: 85%;
        background-position: 50% 6%;
    }

    .content-banner {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-size: 60px;
        background-position: center 20%;
    }

    .person-quote {
        width: auto;
        font-size: 18px;
        line-height: 23px;
        text-align: center;
        margin: 82px 25px 22px;
        text-shadow: none;
    }

    .slider-container {
        position: relative;
        z-index: 2;
    }

    .slider-image {
        width: 255px;
        height: 255px;
        box-shadow: 0px 9px 18px -12px #202046;
    }

    .slider-buttons {
        left: 50%;
        bottom: -18px;
        transform: translateX(-50%);
    }

    .arrow {
        width: 40px;
        height: 40px;
        background-size: 10px !important;
    }

    .person-name,
    .person-occupation {
        font-size: 15px;
        display: block;
        text-align: center;
    }
}