@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

:root {
    --max-width-wrapper: 1440px;

    --violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);

    --regular-font-weight: 400;
    --bold-font-weight: 600;

    --poppins-font-family: 'Poppins', sans-serif;
    --opensans-font-family: 'Open Sans', sans-serif;
}

* {
    font-family: var(--poppins-font-family);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}