@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    /* Wrapper */
    --max-width-wrapper: 1440px;

    /* Colors */

    --very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --voft-red: hsl(14, 88%, 65%);

    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);

    --very-dark-grayish-blue: hsl(237, 12%, 33%);
    --dark-grayish-blue: hsl(240, 6%, 50%);

    --light-grayish-blue: hsl(240, 5%, 91%);

    --white: #fff;

    /* Font Size */
    --regular-font-size: 13px;

    /* Font Weight */
    --regular-font-weight: 400;
    --medium-font-weight: 700;
}

* {
    font-family: 'Kumbh Sans', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--very-dark-desaturated-blue);
}

.page-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: var(--max-width-wrapper);
    height: 100vh;
    max-height: 960px;
    background: linear-gradient(180deg, var(--soft-violet), var(--soft-blue));
}

.card-container {
    display: flex;
    flex-direction: row;
    width: 925px;
    height: 500px;
    background-color: var(--white);
    border-radius: 25px;
}

.card-content {
    position: relative;
    width: 50%;
}

.card-illustration {
    overflow: hidden;
    height: 100%;
    width: 100%;
    /* background: url("images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover; */
}

.hide-overflow {
    position: relative;
}

.illustration-woman {
    position: absolute;
    z-index: 1;
    top: 4em;
    left: -5.5em;
}

.illustration-background {
    position: absolute;
    z-index: 0;
    width: 60em;
    height: auto;
    top: -18em;
    left: -36em;
}

.illustration-box {
    position: absolute;
    z-index: 2;
    left: -6em;
    top: 12.2em;
}

.card-content.questions {
    padding: 60px 15px;
}

.card-header {
    font-weight: var(--medium-font-weight);
    margin-bottom: 15px
}

.card-body {
    width: 375px;

}

.item-container {
    position: relative;
    border-bottom: 1px solid var(--light-grayish-blue);
    /* height: 50px; */
}

.item-container.active{
    height: auto;
}

.item-question {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 2px;
}

.item-container.active .item-question {
    font-weight: var(--medium-font-weight);
}

.item-answer {
    position: relative;
    width: 350px;
    height: 0;
    /* padding-bottom: 0px; */
    transition: 150ms;
    display: none;
    /* transform: translate(0%, -50%) scaleY(0); */
}

.item-container.active .item-answer{
    display: block;
    height: auto;
    /* transform: translate(0%, 0%) scaleY(1); */
}

.item-answer p {
    font-size: var(--regular-font-size);
    font-weight: var(--regular-font-weight);
    line-height: 20px;
    padding-bottom: 15px;
}
