@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

:root {
    --max-width-wrapper: 1440px;

    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);

    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);

    --regular-font-size: 15px;

    --regular-font-weight: 400;
    --medium-font-weight: 500;
    --bold-font-weight: 700;
}

* {
    font-family: 'League Spartan', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: var(--max-width-wrapper);
    height: 100vh;
    max-height: 960px;
    margin: auto;

}

.section-container {
    width: 1105px;
    height: 570px;
}

.section-content {
    display: flex;
    flex-direction: row;
    height: 50%;
    width: 100%;
}

.divider {
    width: 50%;
}

.banner-header {
    font-size: 50px;
    font-weight: var(--bold-font-weight);
    width: 320px;
    color: var(--very-dark-magenta);
    margin-bottom: 25px;
}

.banner-paragraph {
    font-size: var(--regular-font-size);
    font-weight: var(--medium-font-weight);
    width: 355px;
    line-height: 25px;
    color: var(--dark-grayish-magenta);
}

.divider.rating {
    padding-top: 25px;
}

.rating-container, .rating-stars {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rating-container {
    width: 425px;
    height: 55px;
    border-radius: 10px;
    background-color: var(--light-grayish-magenta);
    padding: 0 30px;
    margin-bottom: 15px;
}

/* .rating-container.one{
    margin-left: 25px;
} */
.rating-container.two {
    margin-left: 50px;
    /* margin-left: 75px; */
}

.rating-container.three {
    margin-left: 100px;
    /* margin-left: 125px; */
}

.rating-stars {
    gap: 10px;
    margin-right: 35px;
}

.rating-description {
    font-size: var(--regular-font-size);
    font-weight: var(--bold-font-weight);
    color: var(--very-dark-magenta);
}

.card-container {
    background-color: var(--very-dark-magenta);
    width: 330px;
    height: 225px;
    border-radius: 10px;
    padding: 30px 25px;
}

.card-profile {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.card-profile img {
    border-radius: 50%;
    width: 40px;
    height: auto;
}

.card-profile-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
}

.profile-name {
    color: var(--light-grayish-magenta);
    font-weight: var(--medium-font-weight);
    margin-bottom: 5px;
}

.profile-status {
    color: var(--soft-pink);
    font-weight: var(--regular-font-weight);
}

.card-feedback {
    color: var(--light-grayish-magenta);
    line-height: 25px;
    font-size: var(--regular-font-size);
    font-weight: var(--regular-font-weight);
}

.card-container.two {
    margin: 25px 0 0 25px;
}

.card-container.three {
    margin: 50px 0 0 25px;
}
