@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

:root {
    --max-width-wrapper: 1440px;

    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);

    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);

    --regular-font-size: 15px;

    --regular-font-weight: 400;
    --medium-font-weight: 500;
    --bold-font-weight: 700;
}

* {
    font-family: 'League Spartan', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: var(--max-width-wrapper);
    height: 100vh;
    max-height: 960px;
    
}